a{
  color: black,!important;
}

.authcard{
  padding: 20px;
  text-align: justify;
}

.home-title{
  text-align: center;
  background-color: rgba(0, 255, 208, 0.76);
}



.content-book{
  text-align: center;
  padding: 15px;
  height: auto;
}